  <header>
    <ul>
      <li><%= link_to "Home" , "/pages/home" %></li>
      <li><%= link_to "Pokemons" , "/pokemon" %></li>
      <li><%= link_to "Types" , "/type" %></li>
      <li><%= link_to "Quotes" , "/quote" %></li>
      <li><%= link_to "About" , "/pages/about" %></li>
    </ul>
  </header>