<h1>Pokemon#index</h1>
<p>Find me in app/views/pokemon/index.html.erb</p>

<div class="table-container">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <tbody>
      <th>Name</th>
      <th>Name</th>
      <th>pokedex Id</th>
      <th>Type</th>
      <th>HP</th>
      <th>Attack</th>
      <th>Defense</th>
      <th>SP. Attack</th>
      <th>SP. Defense</th>
      <th>Speed</th>
      <th>Pokemon Quote</th>
      <th>Quote Author</th>
      <% @pokemons.each do |poke| %>
        <tr class="mb-5">
          <th><%= link_to poke.name, pokemon_path(poke) %></th>
          <td><%= image_tag format('%03d', poke.pokedexid.to_s   ) + ".png" %></td>
          <td><%= poke.pokedexid %></td>
          <td><%= poke.types.map(&:name).join(", ") %></td>
          <td><%= poke.hp %></td>
          <td><%= poke.attack %></td>
          <td><%= poke.defense %></td>
          <td><%= poke.spattack %></td>
          <td><%= poke.spdefense %></td>
          <td><%= poke.speed %></td>
          <td><%= link_to poke.quote.quote, quote_path(poke.quote) %></td>
          <td><%= poke.quote.author %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>