<h1>Pokemon#index</h1>
<p>Find me in app/views/pokemon/index.html.erb</p>

<table>
 <% @pokemons.each do |poke| %>
    <tr>
      <td><%= image_tag format('%03d', poke.pokedexid.to_s   ) + ".png" %></td>
      <td><%= poke.name %></td>
      <td><%= poke.pokedexid %></td>
      <td><%= poke.types.map(&:name).join(", ") %></td>
      <td><%= poke.hp %></td>
      <td><%= poke.attack %></td>
      <td><%= poke.defense %></td>
      <td><%= poke.spattack %></td>
      <td><%= poke.spdefense %></td>
      <td><%= poke.quote.quote %></td>
      <td><%= poke.quote.author %></td>
      <td><%= link_to 'Show', pokemon_path(poke) %></td>
    </tr>
  <% end %>
</table>
