<div class="container">
  <h1>Search</h1>

    <%= form_tag(pokemons_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "search" %>
    <% end %>


  <% if @pokemons.present? %>
  <div class="card-deck">
    <div class="row">
    <% @pokemons.each do |poke| %>

        <div class="card" style="width: 19.6%;">

          <div class="card-header">
          <%= link_to poke.name, pokemon_path(poke) %>
          </div>

          <%= image_tag format('%03d', poke.pokedexid.to_s) + ".png" , alt: poke.name %>

          <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Pokedex Id: <%= poke.pokedexid %></li>
                <li class="list-group-item">Types: <%= poke.types.map(&:name).join(", ") %></li>
                <li class="list-group-item">Hp: <%= poke.hp %></li>
                <li class="list-group-item">Attack: <%= poke.attack %></li>
                <li class="list-group-item">Defense: <%= poke.defense %></li>
                <li class="list-group-item">Sp. Attack: <%= poke.spattack %></li>
                <li class="list-group-item">Sp. Defense: <%= poke.spdefense %></li>
                <li class="list-group-item">Speed: <%= poke.speed %></li>
                <li class="list-group-item">Quote: <%= link_to poke.quote.quote, quote_path(poke.quote) %></li>
              </ul>
          </div>

        </div>
    <% end %>
    <%= paginate @pokemons %>
    </div>
  </div>


  <% else %>
    <p>There are no pokemons containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>

